<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grades</title>
</head>
<body>
<p><a class="btn btn-primary" href="/all_hw/" role="button">All homework</a></p>
<p><a class="btn btn-primary" href="/logout/" role="button">Log out</a></p>
<h2>Grades</h2>
<table class="table table-hover" id="myTable" width="40%">
  <thead>
   <tr>
    <th scope="col">Student</th>
    <th scope="col">Subject</th>
    <th scope="col">Task</th>
    <th scope="col">Grade</th>
   </tr>
  </thead>

  <tbody>

  {% for object in object_list %}

      <tr>
          <td>{{ object.student.first_name }} {{ object.student.last_name }}</td>
          <td>{{ object.homework.discipline }}</td>
          <td >{{ object.homework.name }}</td>
          <td>{{ object.grade }}</td>
      </tr>

  {% endfor %}
  </tbody>
</table>
<br>
</body>
</html>